{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Debt Manager{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Debt Manager</h1>
        {% comment %} <nav>
            <a href="{% url 'debt_list' %}">Home</a>
        </nav> {% endcomment %}
    </header>
    <main>
        {% block content %}
        <!-- Contenido específico de cada plantilla -->
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Debt Manager. Todos los derechos reservados.</p>
    </footer>
</body>
</html>