{% extends "./base.html" %}

<h1>Seleccionar Método de Pago para {{ debt.name }}</h1>

{% block content %}
<form method="POST">
    {% csrf_token %}
    <label for="payment_method">Método de Pago:</label>
    <select id="payment_method" name="payment_method" required>
        {% for method in payment_methods %}
            <option value="{{ method.id }}">
                {{ method.method }} - Pago Mensual: ${{ method.monthly_payment }}
            </option>
        {% endfor %}
    </select>
    <button type="submit">Calcular</button>
</form>
{% endblock %}